.container {
    /*Lo primero que se hace es declarar el display*/
    width: 400px;
    height: 400px;
    background-color: rgb(170, 255, 213);
    display: flex;
    /*flex-direction: row-reverse;*/
    /*flex-wrap: wrap-reverse;*/
    flex-flow: row wrap ;/*ES LA UNIÓN DE DIRECTION Y WRAP <flex-direction> &&& <flex-wrap>*/
}

.item{
    background-color: rgb(190, 146, 231);
    width: 100%;
    height: 50px;
}
